:root {
  --color-shade1: #ECDFF2;
  --color-shade2: #F2F2F2;
  --color-shade3: #E2EDEE;
  --color-shade4: #A7D9AE;
  --color-shade5: #0D0D0D;


  --font-size-very-small: 12px;
  --font-size-small:16px;
  --font-size-regular: 22px;
  --font-size-medium: 24px;
  --font-size-large: 28px;
  --font-size-very-large: 36px;

  --border-small: 2px solid black;
  --border-regular: 4px solid black;
  --border-large: 8px solid black;

  --box-shadow-small: 2px 2px 0 black;
  --box-shadow-regular: 4px 4px 0 black;
  --box-shadow-large: 8px 8px 0 black;

  --space-very-small: 5px;
  --space-small: 10px;
  --space-medium: 20px;
  --space-large: 40px;
  --space-very-large: 80px;
}

@font-face {
  font-family: 'courier_prime_regular';
  src: url('../assests/fonts/CourierPrime-Regular.ttf')
}

@font-face {
  font-family: 'courier_prime_bold';
  src: url('../assests/fonts/CourierPrime-Bold.ttf')
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assests/fonts/Montserrat.ttf')
}


* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;  */
}

body {
  font-family: 'courier_prime_regular';
  font-size: var(--font-size-small);
  padding: 50px;
}




@media screen and (max-width: 1000px) {
  :root {
  --font-size-very-small: 10px;
  --font-size-small:14px;
  --font-size-regular: 20px;
  --font-size-medium: 22px;
  --font-size-large: 26px;
  --font-size-very-large: 34px;

  --space-very-small: 5px;
  --space-small: 10px;
  --space-medium: 20px;
  --space-large: 40px;
  --space-very-large: 80px;
  }
}


@media screen and (max-width: 850px) {
  :root {
  --font-size-very-small: 8px;
  --font-size-small:12px;
  --font-size-regular: 18px;
  --font-size-medium: 20px;
  --font-size-large: 24px;
  --font-size-very-large: 32px;

  --space-very-small: 3px;
  --space-small: 8px;
  --space-medium: 18px;
  --space-large: 38px;
  --space-very-large: 70px;
  }
}


@media screen and (max-width: 730px) {
  :root {
  --font-size-very-small: 8px;
  --font-size-small:12px;
  --font-size-regular: 18px;
  --font-size-medium: 20px;
  --font-size-large: 24px;
  --font-size-very-large: 32px;

  --space-very-small: 3px;
  --space-small: 8px;
  --space-medium: 16px;
  --space-large: 34px;
  --space-very-large: 60px;
  }

  body {
    padding: 40px 20px;
  }
}


@media screen and (max-width: 647.25px) {


  body {
    padding: 40px 10px;
  }
}

.easy {
    background-color: rgba(0, 255, 0, 0.2);
    color: darkgreen
}

.medium {
    background-color: rgba(0, 0, 255, 0.2);
    color: rgba(0, 0, 255);
}

.hard {
    background-color: rgba(255, 0, 0, 0.2);
    color: darkred;
}




.search_box_container {
  border: 2px solid black;
  border-radius: 27px;
  max-height: 400px;
}

