:root {
  --color-shade1: #ECDFF2;
  --color-shade2: #F2F2F2;
  --color-shade3: #E2EDEE;
  --color-shade4: #A7D9AE;
  --color-shade5: #0D0D0D;


  --font-size-very-small: 12px;
  --font-size-small:16px;
  --font-size-regular: 22px;
  --font-size-medium: 24px;
  --font-size-large: 28px;
  --font-size-very-large: 36px;

  --border-small: 2px solid black;
  --border-regular: 4px solid black;
  --border-large: 8px solid black;

  --box-shadow-small: 2px 2px 0 black;
  --box-shadow-regular: 4px 4px 0 black;
  --box-shadow-large: 8px 8px 0 black;

  --space-very-small: 5px;
  --space-small: 10px;
  --space-medium: 20px;
  --space-large: 40px;
  --space-very-large: 80px;
}

@font-face {
  font-family: 'courier_prime_regular';
  src: url('../assests/fonts/CourierPrime-Regular.ttf')
}

@font-face {
  font-family: 'courier_prime_bold';
  src: url('../assests/fonts/CourierPrime-Bold.ttf')
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assests/fonts/Montserrat.ttf')
}


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'courier_prime_regular';
  font-size: var(--font-size-small);
  padding: 50px;
}

.search_box_container {
  border: 2px solid black;
  border-radius: 27px;
  max-height: 400px;
}

.search_wrapper {
  width: calc(100% - 100px);
  padding: 50px;
  background-color: var(--color-shade5);
  color: var(--color-shade5);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    padding: 15px 20px;
    font-size: 20px;
    color: var(--color-shade5);
    width: calc(90% - 40px);
    border-radius: 60px;
    outline: none;
    border: none;
    font-family: 'courier_prime_regular';

  }
  .send_button {
    background-color: var(--color-shade4);
    color: var(--color-shade5);
    font-size: var(--font-size-giant);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }
  .send_button:active {
    background-color: white;
  }
}
.facet_wrapper {
  padding: 30px 50px;
  display: none;
}
.facets_container {
  margin-top: 30px;
  .facet {
    display: inline-block;
    border-radius: 60px;
    border: 2px solid var(--color-shade5);
    color: var(--color-shade5);

    padding: 8px 12px;
    margin: 5px 5px;
    font-size: var(--font-size-regular);

  }

  .pink {
    background-color: var(--color-shade1);
  }
  .green {
    background-color: var(--color-shade3);
  }
}
.question {
  font-size: var(--font-size-veryLarge);
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20%;
  width: 100%;
  transform: translate(0, -100%);
  /* background-color: var(--color-shade4); */
  opacity: 0.5;
  z-index: -1;
}
.answer_container {
  width: 65%;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  .answer {
    width: 22vw;
    height: 10vw;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    .answer_title {
      font-size: var(--font-size-large);
      font-weight: bold;
    }
    .answer_description {
      font-size: var(--font-size-small);
      margin-top: 10px;
      font-weight: bold;
      white-space: normal; /* Allow wrapping */
     overflow-wrap: break-word;

    }
  }

}
.bg1 {
  background-color: var(--color-shade1);
}
.bg2 {
  background-color: var(--color-shade3);
}

.answer_wrapper {
  position: relative;
}

.shadow_background {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  transform-origin: top left; /* Fixed transform origin to top-left */
  transform: scale(0.8); /* Initial smaller scale */
}



.start_button {
  background-color: var(--color-shade5);
  color: var(--color-shade4);
  border-radius: 5px;
  padding: 8px 16px;
  font-size: var(--font-size-large);
  /* font-weight: bold; */
  cursor: pointer;
  user-select: none;
}


.start_button:active {
  opacity: 0.7;

}
.button_container {
  display: flex;
  gap: 10px;
}
.start_eg_button {
    background-color: rgba(0, 0, 0, 0.1);
  color: var(--color-shade5);
  border-radius: 5px;
  padding: 8px 16px;
  font-size: var(--font-size-large);
  /* font-weight: bold; */
  cursor: pointer;
  user-select: none;
}

.start_eg_button:active {
  opacity: 0.7;
}

.span_gap {
  margin-left: calc(var(--font-size-small) / 1.2);
  background-color: red;
}

.search_result {
  margin-top: 50px;
}


.search_found_text {
  font-size: var(--font-size-large);
  font-weight: bold;
  margin: 20px 0;
}

.easy {
    background-color: rgba(0, 255, 0, 0.2);
    color: darkgreen
}

.medium {
    background-color: rgba(0, 0, 255, 0.2);
    color: rgba(0, 0, 255);
}

.hard {
    background-color: rgba(255, 0, 0, 0.2);
    color: darkred;
}