.recent_search_wrapper {
    width: auto;
    border: var(--border-regular);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: var(--font-size-large);
    margin-top: var(--space-large);
    padding: var(--space-medium);
    box-shadow: var(--box-shadow-regular);
    max-height:600px;
    overflow-y: auto;

}

.recent_search_action {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.recent_search_toggle {
    cursor: pointer;
    margin-left: 100px;
}
.recent_searches {
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
    max-height: "0px";
}

.recent_search_item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-small) var(--space-medium);
    border: var(--border-small);
    box-shadow: var(--box-shadow-small);
    cursor: pointer;
    margin-left: var(--space-medium);
    margin-top: var(--space-small);
    font-size: var(--font-size-small);
    transition: 0.25s;

}

.recent_search_item:hover {
    box-shadow: var(--box-shadow-regular);
    transform: translate(-4px, -4px);
}
.delete_search {
    margin-left: var(--space-small);
    cursor: pointer;
    color: var(--color-text-light);
    transition: 0.25s;
    transform: translate(0, calc(var(--font-size-small) / 6));
}